* {
    box-sizing: border-box;

}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex: 0 0 90px;
    align-items: center;
    background-image: url(images.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-all {
    display: flex;
    font-weight: bold;
    color: rgb(48, 46, 46)
    

}

.home {
    padding-left: 50px;
    margin-right: auto;
    font-size: 1.7em;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: rgb(48, 46, 46)
    
    


}


.contact-all > div {
    padding: 0 40px;
}

.middle {
    display: flex;
    flex: 1 0 auto;
    height: 560px;
    margin-top: 30px;
   

}

.main-article {
    flex: 0 1 50%;
    border: 2px solid white;
    height: 500px;
    
}

.main-article > * {
    font-size: 1.3em;
    font-family: "Times New Roman", Times, serif;
    line-height: 2.1em;
    margin-left: 50px;
}


#form {
    flex: 0 1 50%;
    border: 2px solid white;
    height: 500px;
    margin-left: 10px;

}


.lower-article {
    display: flex;
    height: 700px;
    background-color: rgba(239,246,255);
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.left {
    display: flex;
    height: 600px;
    flex: 0 1 35%;
    border-radius: 40px;
    /* margin-right: 50px; */
    flex-direction: column;
    font-size: 1.2em;
    line-height: 2.2em;
}

.right {
    display: flex;
    height: 600px;
    flex: 0 1 35%;
    border-radius: 40px;
    /* margin-left: 50px; */
    flex-direction: column;
    font-size: 1.2em;
    line-height: 2.2em;

}


.footer {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2em;

}


.footer > div:first-child {
    margin-left: 100px;
    margin-top: 40px;
    

}

.footer > div:nth-child(2) {
    margin-left: 200px;
    margin-top: 40px;
    


}

.footer > div:nth-child(3) {
    margin-left: 200px;
    margin-top: 40px;
    



}


input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type=submit] {
    width: 70%;
    background-color: #3747db;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  div#form {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

  form {
      margin-left: 50px;
  }


  input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type=tel] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

 